@import './base.css';

body {
  --background-colour: hsl(216, 28%, 7%);
  --grid-lines-colour: hsl(0, 0%, 10%);

  padding: 5rem;
  background-image: linear-gradient(var(--grid-lines-colour) 1px, transparent 1px), linear-gradient(to right, var(--grid-lines-colour) 1px, var(--background-colour) 1px);
  background-size: 40px 40px;
}
